div
  .panel
    .head.d-flex.align-items-start
      .font-weight-bold(ld="head")
      div(ld="diff-root")
        span.text-sm.mx-1 /
        span.text-danger.text-sm(ld="diff")
      .flex-grow-1
      .dropdown(ld="dropdown")
        .clickable.dropdown-toggle.p-0(data-toggle="dropdown") ...
        .dropdown-menu.dropdown-menu-right.shadow-sm
          .dropdown-item 出貨數
          .dropdown-item 退貨數
    .body(ld="body")
  style(type="text/css"): include:stylus index.styl
  script: include:lsc index.ls
