//- module
doctype html
html
  block vars
  include @/ldview/index.pug
  head
    block prehead
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldcover"},
      {name: "ldloader"}
    ])
    block head
  body
    block body
    +script([
      {name: "bootstrap.native", path: "dist/bootstrap-native-v4.min.js"},
      {name: "proxise"},
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldquery"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/block"},
      {name: "ldview"},
      {name: "ldcover"},
      {name: "ldloader"},
      {name: "papaparse", path: "papaparse.min.js"}
    ])
    block script
